<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../img/header/logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css//phonebook-info.css">
    <title>Телефонный справочник</title>
</head>
<body>
    <div class="page">
        <header>
            <div class="container">
                <h1>Телефонный справочник</h1>
                <img src="../img/header/logo.png">
            </div>
        </header>

        <section class="info">
            <div class="container">
                <h2>Добавление/Сохранение</h2>
                <form class="info-form">
                    <div class="info-form-items">
                        <div class="info-form-item">
                            <p>Имя</p>
                            <input  type="text">
                        </div>
                        <div class="info-form-item">
                            <p>Фамилия</p>
                            <input type="text">
                        </div>
                        <div class="info-form-item">
                            <p>Отчество</p>
                            <input type="text">
                        </div>
                        <div class="info-form-item">
                            <p>Должность</p>
                            <input type="text">
                        </div>
                        <div class="info-form-item">
                            <p>Подразделение</p>
                            <input type="text">
                        </div>
                        <div class="info-form-item">
                            <p>Телефон</p>
                            <input type="text">
                        </div>
                    </div>
                    <input class="info-form-button" type="button" value="Добавить/Сохранить"/>
                </form>
            </div>
        </section>
        
        <footer>
            <div class="container">
                <div class="author">
                    <p>&copy; Сачков Владимир Игоревич, МТУСИ</p>
                </div>
            </div>
        </footer>
    </div>
</body>
</html>